<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>See you later!</title>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/later-style.css}"/>
</head>
<body>
<section class="center">
    <div class="center__inner">
        <div class="content">
            <label class="button" for="modal__state"><i class="fa fa-rocket"></i> Click Me!</label>
            <input type="checkbox" name="modal__state" id="modal__state" class="modal__state">
            <div class="modal__overlay">
                <label for="modal__state" class="modal__overlay-close"></label>
                <div class="modal">
                    <label class="button button--close modal__close" for="modal__state"><i class="fa fa-times"></i></label>
                    <h1>Thank you for using danus.in!</h1>
                    <p class="lede">If you want to log in again, click <a class="lede" href="/">Here!</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
